/*css*/ 


header {

    text-align: center;
    margin-top: 0; 

}

header h2  {

    color: white; 
    margin-top: 0; 
    background-color: darkblue;
    padding: 10px 0; 

}


.applyflex > div { 

    display:flex; 
    flex-direction: column;
    margin: 10px 0; 

}  

.applyflex label {  

   padding-bottom: 10px;  
   

}   

.applyflex input {  

    padding-bottom: 5px;  
    
 
 }   

textarea, 
button[type="submit"] {

    width: 100%;  

}  

footer h3 { 

    text-align: center;

}



#newslettersection input {

   padding-right: 10px;

}  


 






